
body {
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  .header {
    background-color: #878dbe;
    text-align: left;
    padding: 20px;
  }
  .header.delta {
    background-color: #878dbe;
    background-image: url(delta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: left;
    padding: 20px;
  }
  .header h1, .header.delta h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffffff
  }
  
  .diag {
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    border-bottom: 13.9vw solid #878dbe;
    margin-top: -13.9vw;
  }
  
   .topnav {
    overflow: hidden;
    background-color: #161c46;
  }
  /* lingid ülemise riba jaoks */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
  }
  /* lingid hoverimisel */
  .topnav a:hover {
    background-color: #878dbe;
    color: black;
  } 
  
  
  
  h2 {
    color: #161c46;
    border-bottom: 2px solid #878dbe;
    padding-bottom: 5px;
    margin-top: 20px;
  }
  
  
  .section {
    margin: 20px auto;
    padding: 10px 20px;
    max-width: 800px;
    border: 1px solid #878dbe;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0; /* Sharp edges */
  }
  
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    font-size: 16px;
    margin: 5px 0;
    color: #333333;
  }
  
  
  p {
    font-size: 16px;
    color: #444444;
    line-height: 1.8;
    margin: 10px 0;
  }
  
  .delta.majast {
    max-width: 100%;  /* Make it take the full width */
    border: none;     /* Remove the border */
    box-shadow: none; /* Remove the shadow */
    background-color: transparent; /* Remove the background color */
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 20px
}
  



