
body {
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

gmp-map {
  height: 100%;
}

h1 {
  background-color: #878dbe;
  color: #ffffff;
  padding: 20px;
  margin: 0;
  text-align: center;
}

h2 {
  color: #161c46;
  border-bottom: 2px solid #878dbe;
  padding-bottom: 5px;
  margin-top: 20px;
}


.section {
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 800px;
  border: 1px solid #878dbe;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0; /* Sharp edges */
}


.section:nth-child(5) {
  margin-top: 0; /* Moves to the top */
  border: none; /* No border */
  max-width: 100%; /* Stretches full width */
  background-color: transparent; /* Removes background color */
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  font-size: 16px;
  margin: 5px 0;
  color: #333333;
}


p {
  font-size: 16px;
  color: #444444;
  line-height: 1.8;
  margin: 10px 0;
}


.section:nth-child(6) h2 {
  display: none;
}


.button {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  background-color: #161c46;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


.button:hover {
  background-color: #878dbe;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}


@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1, h2 {
    font-size: 18px;
  }

  .section {
    padding: 10px;
  }
}