body.rmtk {
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Kaardi suurus*/
.card gmp-map {
  height: 200px;
}

/*headeri sätestamine*/
.header {
  background-color: #878dbe;
  text-align: left;
  padding: 20px;
  margin-top: 0%;
}

.header.raamatukogu {
  background-color: #878dbe;
  background-image: url(raamatukogu.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  text-align: left;
  padding: 20px;
}

.header.pealeht {
  background-color: #878dbe;
  background-image: url(peahoone.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  text-align: left
}


.header h1, .header.raamatukogu h1, .header.pealeht h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#ffffff
}

.diag {
  width: 0;
  height: 0;
  border-right: 50vw solid transparent;
  border-bottom: 13.9vw solid #878dbe;
  margin-top: -13.9vw;
}

/*ülemise riba nupud */
 .topnav {
  overflow: hidden;
  background-color: #161c46;
}
/* lingid ülemise riba jaoks */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
}
/* lingid hoverimisel */
.topnavrmtk a:hover {
  background-color: #878dbe;
  color: black;
} 

/* veerud */
 .columnrmtk.left {
  float: left;
  width: 30%;
  border: black;
}

.columnrmtk.middle {
  float: left;
  width: 45%;
  margin-left: 20px;
}

.columnrmtk.middle h2 {
  text-align: center;
}
.columnrmtk.right{
  float: left;
  width: 20%;
  margin-left: 20px;
}

/*kastid*/
.card{
  background-color: #878dbe;
  padding: 10px;
  margin-top: 20px;
}

.card p {
  font-size: 17px;
  margin-left: 10px;
}
.card li {
  font-size: 17px;
}

.card h2 {
  font-size:x-large;
}

.card h3 {
  font-size: large;
}

.card img{
  width: 100%;
}

.rowrmtk:after {
  content: "";
  display: table;
  clear: both;
}

/* ekraani vähendamisel veerud üksteise alla, abi w3school.com-ist*/
@media screen and (max-width: 800px) {
  .columnrmtk.left, .columnrmtk.middle, .columnrmtk.right {   
    width: 100%;
    padding: 0;
  }
}

