h1 {
    text-align: center
}

.nupud {
    display: flex;
    justify-content: center
}
button {
    border: 2px solid #0d1056b4;
    border-radius: 12px;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    width: 50%;
  }
button:hover {
    background-color: #0d1056b4;
    color: white;
    border: 2px solid #0d1056b4;
    border-radius: 12px;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }