body {
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  background-color: #878dbe;
  text-align: left;
  padding: 20px;
}
.header.raamatukogu {
  background-color: #878dbe;
  background-image: url(raamatukogu.jpg);
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  padding: 20px;
}
.header h1, .header.raamatukogu h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#ffffff
}

.diag {
  width: 0;
  height: 0;
  border-right: 50vw solid transparent;
  border-bottom: 13.9vw solid #878dbe;
  margin-top: -13.9vw;
}

 .topnav {
  overflow: hidden;
  background-color: #161c46;
}
/* lingid ülemise riba jaoks */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
}
/* lingid hoverimisel */
.topnav a:hover {
  background-color: #878dbe;
  color: black;
} 

/* veerud */
 .column.left {
  float: left;
  width: 30%;
  border: black;
}
.fakekaart {
  background-color: #210447;
  width: auto;
  padding: 20px;
  color: #ffffff;
}

.column.middle {
  float: left;
  width: 45%;
  margin-left: 20px;
}

.column.middle h2 {
  text-align: center;
}
.column.right{
  float: left;
  width: 20%;
  margin-left: 20px;
}

.card{
  background-color: #878dbe;
  padding: 10px;
  margin-top: 20px;
}

.card p {
  font-size: 17px;
  margin-left: 10px;
}
.card li {
  font-size: 17px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ekraani vähendamisel veerud üksteise alla */
@media screen and (max-width: 800px) {
  .column.left, .column.middle, .column.right {   
    width: 100%;
    padding: 0;
  }
}

